.Container{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.Container h1{
    font-size: 2em;
    font-family: "Doto", sans-serif;
}

.CollectionsContainer{
    display: flex;
    width: 100%;
    gap: 1.5rem;
    padding-inline: 1.5rem;
}

.Collection{
    flex: 1;
    border: 1px solid #2B2B2B;
    position: relative;
}
.Collection img{
    width: 100%;
    height: 44rem;
    object-fit: contain;
    transition: all 0.3s ease;
}

.CollectionTitle{
    display: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.CollectionTitle p{
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.5em; 
    font-weight: bold;
}
.Collection:hover .CollectionTitle{
    display: block;
}

.Collection:hover img{
    filter: brightness(50%) blur(1px);
}

@media (max-width: 1200px) {
    .Collection img{
        height: 38rem;
    }
}

@media (max-width: 1200px) {
    .CollectionsContainer{
        flex-direction: column;
    }
    
    .Collection img{
        height: 34rem;
    }
}

@media (max-width: 550px) {
    .CollectionsContainer{
        flex-direction: column;
    }

    .Collection img{
        height: 28rem;
    }

    .CollectionTitle p{
        font-size: 1.2em;
    }
    
    .CollectionTitle {
        display: block;
    }

    .Collection img{
        filter: brightness(70%) blur(1px);
    }

}


