.Slider{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block: 2rem;
}

.Tittle{
    display: flex;
    align-items: baseline;
    padding-bottom: 1rem;
    padding-top: .5rem;
    gap: 1rem;
    margin-left: 1.5625rem;

}

.Tittle h1{
    font-size: 1.5rem;
    font-weight: bold;
}

.Tittle a{
    font-size: .75rem;
    font-family: "Doto", sans-serif;
}

.ProductsContainer{
    position: relative;
    width: 100%;
}

.Products{
    display: flex;
    gap: 1.5625rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-inline: 1.5625rem;
    
}
.Products::-webkit-scrollbar {
    display: none;
}

.Arrow{
    display: flex;
    top:11.1875rem;
    width: 100%;
    left: 0;
    transform: translateY(-50%);
    justify-content:space-between ;
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

@media (hover: none) and (pointer: coarse) {
    .Arrow{
        display: none;
    }
}

.LeftArrow, .RightArrow{
    background-color: #ffffff;
    width: 3.125rem;
    height: 4.0625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: auto;
}

.LeftArrow svg, .RightArrow svg{
    stroke: black;
}