.banner {
  position: relative;
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(9px);
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.content img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  margin: 30px 0;
}

.content h2 {
  font-size: 21px;
  letter-spacing: 1px;
}

.content h3 {
  font-size: 18px;
  font-weight: 200;
}

.content p {
  font-size: 14px;
  color: #aaa;
  margin-top: 6px;
}

.content span {
  display: block;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600; 
}

/* botón */
.content button {
  margin-top: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  font-weight: 300;
}

.date {
  font-size: 12px;
  color: #aaa;
  margin-top: 5px;
  letter-spacing: 1px;
}

.info {
  display: block;
  font-size: 11px;
  letter-spacing: 2px;
  margin-top: 8px;
  opacity: 0.7;
  text-decoration: none;
}

.info:hover {
  opacity: 1;
}