.notfound-page {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 2147483647;
  background: #e5e5e5;
}

.notfound-bgImage {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  object-fit: cover;
  object-position: center;
  display: block;
  z-index: 1;
}

.notfound-page::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(229, 229, 229, 0.12);
  z-index: 2;
}

.notfound-header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.notfound-logo {
  width: 55px;
  display: block;
}

.notfound-bgText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 7rem;
  letter-spacing: 12px;
  color: rgb(202, 198, 198); 
  font-family: IBM Plex Mono, monospace;
  white-space: nowrap;
  user-select: none;
  font-weight: 900;  

}

@media (max-width: 900px) {
  .notfound-bgText {
    font-size: 2.5rem;
    letter-spacing: 4px;
    text-align: center;
    white-space: normal;
    padding: 0 20px;
  }
}