.Slider{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block: 3.2rem;
}

.Tittle{
    display: flex;
    align-items: baseline;
    padding-bottom: 1.6rem;
    padding-top: .8rem;
    gap: 1.6rem;
    margin-left: 2.5rem;
}

.Tittle h1{
    font-size: var(--slider-title-font-size);
    font-weight: bold;
}

.Tittle a{
    font-size: var(--medium-font-size);
}

.ProductsContainer{
    position: relative;
    width: 100%;
}

.Products{
    display: flex;
    gap: 2.5rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-inline: 2.5rem;
    
}
.Products::-webkit-scrollbar {
    display: none;
}


.RightContainer, .LeftContainer{
    display: flex;
    width: 5rem;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    pointer-events: none;
}
.RightContainer{
    right: 0;
    justify-content: flex-end;
}
.LeftContainer{
    left: 0;
    justify-content: flex-start;
}

@media (hover: none) and (pointer: coarse) {
    .RightContainer, .LeftContainer{
        display: none;
    }
}

.LeftArrow, .RightArrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5rem;
    height: 6.5rem;
    background-color: var(--color-background-2);
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: auto;
}

.LeftArrow svg, .RightArrow svg{
    stroke: black;
}
.ProductsContainer:hover{
    .LeftArrow, .RightArrow{
        display: flex;
    }
}