.Slider{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block: 2rem;
}

.Tittle{
    display: flex;
    align-items: baseline;
    padding-bottom: 1rem;
    padding-top: .5rem;
    gap: 1rem;
    margin-left: 1.5625rem;

}

.Tittle h1{
    font-size: 1.5rem;
    font-weight: bold;
}

.Tittle a{
    font-size: .75rem;
    font-family: "Doto", sans-serif;
}

.ProductsContainer{
    position: relative;
    width: 100%;
}

.Products{
    display: flex;
    gap: 1.5625rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-inline: 1.5625rem;
    
}
.Products::-webkit-scrollbar {
    display: none;
}


.RightContainer, .LeftContainer{
    display: flex;
    width: 3.125rem;
    height: 100%;
    position: absolute;
    z-index: 10;
    align-items: flex-start;
    pointer-events: none;
}
.RightContainer{
    right: 0;
    justify-content: flex-end;
}
.LeftContainer{
    left: 0;
    justify-content: flex-start;
}

@media (hover: none) and (pointer: coarse) {
    .RightContainer, .LeftContainer{
        display: none;
    }
}

.LeftArrow, .RightArrow{
    background-color: #ffffff;
    margin-top: calc((22.375rem - 4.0625rem)/2);
    width: 3.125rem;
    height: 4.0625rem;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: auto;
}

.LeftArrow svg, .RightArrow svg{
    stroke: black;
}
.ProductsContainer:hover{
    .LeftArrow, .RightArrow{
        display: block;
    }
}