.globalSmiley {
    z-index: 6;
    color: var(--foreground);
    background-blend-mode: difference;
    width: 5rem;
    margin-left: -2.5rem;
    position: fixed;
    inset: 4rem auto auto 50%;
}

@media (min-width: 1024px) {
    .globalSmiley {
        width: 6rem;
        margin-left: -3rem;
        inset: 3rem auto auto 50%;
    }
}

