.footer {
    /*(border-top: 1px solid #666; */
    padding: 20px 16px 0;
    background-color: var(--color-background);
    color: #fff
}
.footer__socials {
    display: flex;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 40px
}

.footer__home-link {
    padding: 0
}

.footer__logo {
    width: 130px;
    color: transparent
}

.footer__box {
    flex-grow: 1;
    padding: 16px 14px;
    border: 1px solid #666
}

.footer__socials-heading {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 28px;
    padding: 0 6px
}

.footer__social-links {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.footer__social-logo {
    width: 40px;
    fill: #fff
}

.footer__social-logo--discord {
    padding: 7px 5px 3px
}

.footer__policy-links {
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer__policy-link {
    border: none;
    margin: 0;
}

@media(min-width: 768px) {
    .footer {
        padding-top:20px
    }

    .footer__app-links {
        margin-bottom: 0
    }

    .footer__heading {
        font-size: 14px;
        line-height: 21px
    }

    .footer__box {
        border: none;
        padding-top: 20px;
        padding-bottom: 20px
    }

    .footer__socials {
        display: block;
        width: 188px;
        margin: 0 auto;
        text-align: center
    }

    .footer__logo img {
        width: 50%;
        height: auto;
        margin-left: 50px;
        display: block;
    }
        .footer__socials-heading {
        font-size: 16px;
        line-height: 21px
    }

    .footer__social-logo {
        width: 24px
    }

    .footer__social-logo--discord {
        padding: 4px 4px 4px
    }

    .footer__policy-links {
        font-size: 11px;
        line-height: 11px;
        padding-bottom: 32px
    }
}
