.theme-dark {
	--color-background: var(--color-black);
	--color-background-2: var(--color-gray-dark);
	--color-text: var(--color-white);
	--color-text-2: var(--color-gray-light);
	--color-line: var(--color-white);
	--color-line-2: var(--color-gray-light);
	--focus-shadow: 0 0 0 var(--border-width-md) var(--color-line);
	--focus-shadow-inset: 0 0 0 calc(var(--border-width-md) * -1) var(--color-line);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Footer
--------------------------------------------- */

.site-footer {
	--flow-gap: var(--space-07);
}

.site-footer > * {
	--flow-gap: 0;
}

.site-footer__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4rem;
	margin-bottom: 2rem;
}

.site-footer__brand {
	display: flex;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}

.site-footer__title {
	font-size: calc(var(--section-title-font-size) * 1.8);
	font-weight: normal;
	margin: 0;
}

@media screen and (min-width: 50em) {
	.site-footer__title {
		font-size: 100px;
	}
}

.site-footer__main {
	border-top: 1px solid var(--color-line);
	padding: 15px;
	background: var(--color-background);
	color: var(--color-text);
}

.site-footer__copyright {
	font-weight: 400;
	letter-spacing: 0.16ch;
	text-transform: uppercase;
	margin: 1rem 0;
}

.site-footer__copyright a,
#menu-footer-legal a {
	color: var(--color-white);
	text-decoration: none;
}

.site-footer__copyright a:visited,
#menu-footer-legal a:visited {
	color: var(--color-white);
}

.site-footer__copyright a:hover,
#menu-footer-legal a:hover {
	text-underline-offset: 0.2rem;
	text-decoration-line: underline;
	text-decoration-thickness: 2px;
}

.site-footer__copyright a:focus-visible,
#menu-footer-legal a:focus-visible {
	outline: 2px solid var(--color-blue);
	outline-offset: 2px;
}

/* Legal links */

#menu-footer-legal {
	font-size: calc(var(--base-font-size) * 1.0);
	font-weight: 400;
	letter-spacing: 0.16ch;
	text-transform: uppercase;
	list-style: none;
	padding: 0;
	margin: 1rem 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
}

#menu-footer-legal li + li::before {
	content: "|";
	margin-right: 1em;
	color: var(--color-white);
}

@media (any-hover: hover) {
	.site-footer__main a:hover {
		text-underline-offset: 0.2rem;
		text-decoration-line: underline;
		text-decoration-thickness: 2px;
	}
}

.site-footer__main a:active,
.site-footer__main a:hover {
	background: none;
	color: inherit;
}

/* Social */

.footer__social-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	margin-top: 1rem;
}

.footer__social-logo {
	width: 32px;
	height: 32px;
	fill: currentColor;
}

.site-footer__copyright {
	color: var(--color-gray-dark);
	font-size: calc(var(--base-font-size) * 1);
	float: right;
}

.site-footer__main::after {
	content: "";
	display: table;
	clear: both;
}

@media (max-width: 480px) {
	.site-footer__main {
		padding: 1rem;
	}
}