:root {
  /*Font sizes*/
  --base-font-size: 1rem;
  --medium-font-size: 1.25rem;
  --large-font-size: 1.56rem;
  --larger-font-size: 1.95rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /*Cuenta el padding como parte del ancho*/
}

* {
  font-family: 'IBM+Plex+Mono', monospace;
  font-weight: 400;
  box-sizing: border-box;
  font-size: var(--base-font-size);
  margin: 0;
  padding: 0;
  color: #ffffff;
}

html {
  -webkit-text-size-adjust: none;
  scroll-behavior: smooth;
  font-size: clamp(14px, 2vw, 18px);
  scrollbar-gutter: stable;
  /*Reserva el espacio para el scrollbar y evita CLS*/

  line-height: 1.2;

  container-type: scroll-state;
  /*Declara el estado de scroll para este contenedor*/
  container-name: scroller;
  /*Nombre opcional*/
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1 {
  font-size: var(--larger-font-size);
}

h2 {
  font-size: var(--large-font-size);
}

h3 {
  font-size: var(--medium-font-size);
}

ul, ol {
  list-style: none;
}

input, button, textarea, select {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}